{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    [
      "react-intl", {
        "messagesDir": "./production/public/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}
