@import './variables';

body {
  font-family: sans-serif;
}
h4 {
  font-size: 20px;
}
label {
  font-weight: bold;
}
input[disabled] {
  color: #CCC;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.app {
  margin-top: 10px;
}
