$border-color: #CCC;
$bs-has-error: #A94442;

$dark: #0F0F0F;

$error: #D83D3D;

$gray-text: #888;

$header-height: 51px;

$left-menu-item: #AAA;
$left-menu-width: 150px;
$light-dark: #292929;
$lighter-dark: #343434;
$light-gray-background: rgba(238, 238, 238, 0.5);
$ddd: #DDD;
$eee: #EEE;

$normal-text: 14px;

$primary: #337AB7;

$h3-font-size: 24px;
$small-text: 12px;

$white: #FFF;

$margin-top-from-header: 15px;
